body {
  background-color: #FFE4E1;
  font-family: 'Kanit', Arial,sans-serif;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
} 

}

h1
{
    font-size: 20px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ff66a3;
}

table {
    border-collapse: collapse;
    width: 100%;
    

}
textarea
{
    width: 100%;
    height: 300px;
    padding: 15px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 20px;
}
th {
    background-color: #808080;
    color: white;
}



.active {
    background-color: #ff3385;
}

.container
{
    padding: 20px;
    margin-top: 30px;
    height: 100px;
    color: #006080;

}

.button {
    
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    border-radius: 8px; 
    color: black; 
    font-size: 14px;
    border: 2px solid #8c8c8c;
}

.button1:hover {
    background-color: #ff884d;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    color: #000000;
    font-size: 16px;
}


input[type=submit] {
    background-color: #ff884d;
    border: none ;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; 
    font-size: 14px;

}